.text {
    background: red;
    color: #fff;
    border-radius: 0 0 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    overflow: hidden;
}

.input-style {
  @apply bg-white border-0;
  @apply rounded-md outline-none pl-2;
  @apply focus:outline-none mb-2 text-black;
  max-height: 50px;
  height: 50px;
  width: calc(100% - 115px);
}