$primary: #662482;
$primary-mid: #8E24BB;
$primary-light: #7a3896;
$primary-dark: #5f197f;
$primary-shade: #2f0044;
$primary-shadow: #4b006b;
$secondary: #fed906;
$secondary-dark: #f8ad0b;
$error: #ff2929;
$test: rgba(102, 36, 130, 0.2);
$purple: #4c0691;